body {
  padding: 7px 5em 0 2em;
  font-family: monospace;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}

.button {
  background-color: #eed4d4;
  color: #000000;
  padding: 10px;
  border-radius: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 20px;
  margin: 15px
}

header {
  width: 100%;
  position: relative;
  z-index: 100;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: 0.5s;
}

a.botones:hover {
  background-color: blue;
}

h1 {
  text-align: center;
}

parrafo {
  text-align: center;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram {
  margin-left: 30px;
}

.behance {
  margin-left: 30px;
}

.container {

  border-top-left-radius: 30px 160px;
  border-top-right-radius: 20px 100px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  display: auto;
  position: relative;
  border: solid 3px #030303;
  padding: 40px 60px;
  max-width: 550px;
  width: 70%;
  margin: 100px auto 0;
  font-size: 17px;
  line-height: 28px;
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}


.border {
  position: absolute;
  transition: all 0.13s ease-in;
}

.border:before,
.border:after {
  color: #07080e;
  font-size: 15px;
  position: absolute;
}

.tl {
  position: absolute;
  left: -50px;
  top: -63px;
  font-weight: 600;
}

.tl:before {
  content: "";
  left: 120px;
  top: 30px;
}

.tl:after {
  content: "";
  left: 0px;
  top: 80px;
}

.tr {
  right: -50px;
  top: -63px;
  font-weight: 600;
}

.tr:before {
  content: "";
  left: 0;
  top: 30px;
}

.tr:after {
  content: "";
  left: 130px;
  top: 80px;
}

.bl {
  left: -50px;
  bottom: -71px;
  font-weight: 600;
}

.bl:before {
  content: "";
  left: 120px;
  top: -30px;
}

.bl:after {
  content: "";
  left: 0px;
  top: -90px;
}

.br {
  right: -50px;
  bottom: -63px;
  font-weight: 600;
}

.br:before {
  content: "";
  left: 0;
  top: -30px;
}

.br:after {
  content: "";
  right: -10px;
  top: -80px;
}

pre {
  background: #000000;
  padding: 20px;
}